vendor/
tmp/
config/tmp/
config/args
composer.lock
.project
.buildpath
.vscode/
.settings/
nbproject/
config/_SESSION/
config/http.json
config/assets.php
config/certificate.pem
certificate.pem
*.log
*.exe
composer.json
*.pem
public/