vendor/
tmp/
config/tmp/
config/args
composer.lock
.project
.buildpath
.vscode/
.settings/
nbproject/
_SESSION/
certificate.pem
*.log
*.exe
composer.json
*.pem
composer.phar
_SESSION
.history