<div extends="Nav" id="nav" export>
    <Container style="border-bottom: 1px solid #2e2a38;padding-bottom: 0.5em;margin-top: 1em">
        <NavButton @unbind @foreach="navButtons.list" data-state="@state" data-view="@view">
            @text
        </NavButton>

        <FloatingModal id="modal" header="@header" message="@message"></FloatingModal>
    </Container>
</div>

<script>
    const ACTION_DEFAULT = 0;
    const ACTION_INSTALL = 1;
    window.navButtons= {
        list: [
            {text:"Home",view:"Views/Home",state:"/Home",action:ACTION_DEFAULT},
            {text:"About",view:"Views/About",state:"/About",action:ACTION_INSTALL}
        ]
    }
</script>