*{
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -o-user-select: none;
    -moz-user-select: none;

    border-radius: 0;
}

.selectable, pre *{
    user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    -webkit-touch-callout: text;
    -o-user-select: text;
    -moz-user-select: text;
}

.crop-text {
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

hr{
    border: 0;
    height: 1px;
    background: #212121;
}